@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
}

body {
  background-color: rgb(1, 20, 42);
  color: lightblue;
}

header {
  background-image: url(https://images.creativemarket.com/0.1.0/ps/7353025/910/483/m2/fpnw/wm1/mrlprmblun0llbxjsotm6xhjqebqmxk4phjir9awtgsdwurcmkyocqzvwl8sptle-.jpg?1574572833&s=80e4e09eb18ca3773af00842afd5b469&fmt=webp);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-self: center;
  height: auto;
  padding: 24px;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

button.button {
  background-color: darkblue;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: lightblue;
  border-color: green;
  color: green;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid lightblue;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 2em;
  padding: 2em;
  justify-self: left;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: slategray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
  padding: 20px;
}

table.ingredients {
  justify-content: left;
  margin-left: 24px;
}

.pull-right {
  float: right;
  margin: 1em;
  padding: 20px;
}

.tags {
  color: rgb(82, 91, 100);
}

.control {
  text-align: right;
}